


<ul class="list-group">
  <li class="list-group-item" style="margin-bottom: 30px">

    <img class="img-circle " style="display: block;height: auto; max-width: 10%; position: absolute; left: 85%;top: 0px;"
         src="http://onvcb3rbt.bkt.clouddn.com/632bb5198618367ac69e831927738bd4b21ce55e.jpg" alt="头像"/>

    头像
  </li>
  <li class="list-group-item" style="margin-bottom: 30px">
    <span class="badge">Yagami Hikari</span>
    昵称
  </li>
  <li class="list-group-item" style="margin-bottom: 30px">
    <span class="badge">10000</span>
    UID
  </li>
  <li class="list-group-item" style="margin-bottom: 30px">
    <span class="badge">2017-12-02</span>
    出生日期
  </li>
  <li class="list-group-item" style="margin-bottom: 30px">
    <span class="badge">女</span>
    性别
  </li>
  <li class="list-group-item" style="margin-bottom: 30px">
    <span class="badge">19999</span>
    个性签名
  </li>


</ul>
<a type="button" class="btn btn-default" [routerLink]="['/space']">返回个人空间</a>
<a type="button" class="btn btn-danger" (click)="clear()" [routerLink]="['/']" style="float:right">退出登录</a>
