<form  [formGroup]="formModel" (ngSubmit)="onRegister()" novalidate>
  <div class="mycenter">
    <div class="mysign">
      <div class="col-lg-11 text-center text-info">
        <h2>请注册</h2>
      </div>
      <div class="col-lg-10" style="margin-top: 40px"></div>
      <div class="col-lg-10">
        <input type="text" formControlName="UserName"  id="UserName" class="form-control" name="UserName" placeholder="请输入账户名" required autofocus/>
      </div>
      <div class="col-lg-10" style="margin-top: 40px"></div>
      <div class="col-lg-10">
        <input type="password" formControlName="PassWord"  id="PassWord" class="form-control" name="PassWord" placeholder="请输入密码" required autofocus/>
      </div>
      <div class="col-lg-10" style="margin-top: 40px"></div>
      <div class="col-lg-10">
        <input type="password" formControlName="Re_PassWord"  id="Re_PassWord" class="form-control" name="Re_PassWord" placeholder="请再次输入密码" required autofocus/>
        <div class="col-lg-10" style="margin-top: 40px"></div>
        <button type="button" class="btn btn-success col-lg-12">获取短信验证码</button>
      </div>
      <div class="col-lg-10" style="margin-top: 40px"></div>
      <div class="col-lg-10">
        <input type="text" formControlName="Code"   (click)="Yzm()" id="Code" class="form-control" name="Code" placeholder="短信验证码" required autofocus/>

      </div>
      <div class="col-lg-10" style="margin-top: 70px"></div>

      <div class="col-lg-10">
        <button type="button" class="btn btn-success col-lg-12"  (click)="onRegister()">注册</button>
      </div>
    </div>
  </div>
</form>

